<div >
    <h4 class="text-center my-4">Products Profit</h4>
    <div class="d-flex align-items-center justify-content-center" >
      <ngx-charts-bar-vertical 
        [results]="listText" 
        [view]="view" 
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [showDataLabel]="showDataLabel"
        [roundEdges]="roundEdges"
        (activate)="onActive($event)"
        (deactivate)="onDeactivate($event)"
        (select)="onSelect($event)"
      ></ngx-charts-bar-vertical>
      <ngx-charts-bar-horizontal 
        [results]="listText" 
        [view]="view" 
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [legendTitle]="legendTitle"
        [showDataLabel]="showDataLabel"
        [roundEdges]="roundEdges"
        (activate)="onActive($event)"
        (deactivate)="onDeactivate($event)"
        (select)="onSelect($event)"
      ></ngx-charts-bar-horizontal>
    </div>
    <div class="d-flex align-items-center justify-content-center" >
      <ngx-charts-bar-vertical-stacked
        [results]="nestedListText" 
        [view]="view" 
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [showDataLabel]="showDataLabel"
        (activate)="onActive($event)"
        (deactivate)="onDeactivate($event)"
        (select)="onSelect($event)"
      ></ngx-charts-bar-vertical-stacked>
      <ngx-charts-bar-horizontal-stacked 
      [results]="nestedListText" 
        [view]="view" 
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [legendTitle]="legendTitle"
        [showDataLabel]="showDataLabel"
        (activate)="onActive($event)"
        (deactivate)="onDeactivate($event)"
        (select)="onSelect($event)"
      ></ngx-charts-bar-horizontal-stacked>
    </div>
    <div class="d-flex align-items-center justify-content-center" >
      <ngx-charts-bar-vertical-normalized
        [results]="nestedListText" 
        [view]="view" 
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        (activate)="onActive($event)"
        (deactivate)="onDeactivate($event)"
        (select)="onSelect($event)"
      ></ngx-charts-bar-vertical-normalized>
      <ngx-charts-bar-horizontal-normalized 
      [results]="nestedListText" 
        [view]="view" 
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [legendTitle]="legendTitle"
        (activate)="onActive($event)"
        (deactivate)="onDeactivate($event)"
        (select)="onSelect($event)"
      ></ngx-charts-bar-horizontal-normalized>
    </div>
    <div class="d-flex align-items-center justify-content-center" >
      <ngx-charts-bar-vertical-2d
        [results]="nestedListText" 
        [view]="view" 
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        (activate)="onActive($event)"
        (deactivate)="onDeactivate($event)"
        (select)="onSelect($event)"
      ></ngx-charts-bar-vertical-2d>
      <ngx-charts-bar-horizontal-2d
      [results]="nestedListText" 
        [view]="view" 
        [scheme]="colorScheme"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [legendTitle]="legendTitle"
        (activate)="onActive($event)"
        (deactivate)="onDeactivate($event)"
        (select)="onSelect($event)"
      ></ngx-charts-bar-horizontal-2d>
    </div>
  </div>
