<div >
    <h4 class="text-center my-4">Products Quantity</h4>
    <div class="d-flex align-items-center justify-content-center">
      <ngx-charts-pie-chart 
        [results]="listText" 
        [view]="view" 
        [scheme]="colorScheme"
        [gradient]="gradient" 
        [legend]="showLegend" 
        [labels]="showLabels"
        (activate)="onActive($event)"
        (deactivate)="onDeactivate($event)"
        (select)="onSelect($event)"
      ></ngx-charts-pie-chart>
      <ngx-charts-pie-grid
        [results]="listText" 
        [view]="view" 
        [scheme]="colorScheme"
        (activate)="onActive($event)"
        (deactivate)="onDeactivate($event)"
        (select)="onSelect($event)"
      ></ngx-charts-pie-grid>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <ngx-charts-pie-chart 
      [results]="listText" 
      [view]="view" 
      [scheme]="colorScheme"
      [doughnut]="true"
      [legend]="showLegend" 
        [labels]="showLabels"
      (activate)="onActive($event)"
      (deactivate)="onDeactivate($event)"
      (select)="onSelect($event)"
    ></ngx-charts-pie-chart>
      
      <ngx-charts-advanced-pie-chart 
      [results]="listText" 
      [view]="view" 
      [scheme]="colorScheme"
      (activate)="onActive($event)"
      (deactivate)="onDeactivate($event)"
      (select)="onSelect($event)"
    ></ngx-charts-advanced-pie-chart>
    </div>
  </div>

